<!DOCTYPE html>
<html lang="en">

<head>
  <title>Family</title>
  <link rel="icon" href="./img/dada.ico">
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <div class="family-content">
    {{>header}}
    <p>Family Site, more to come.</p>
    <img class="imageSize" src="./img/dada_bhauju/dada1.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada10.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada11.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada12.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada13.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada14.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada15.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada16.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada17.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada18.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada19.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada20.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada21.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada22.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada23.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada24.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada2.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada3.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada4.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada5.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada6.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada7.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada8.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada9.JPG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada26.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada27.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada28.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada29.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada30.PNG" alt="">
    <img class="imageSize" src="./img/dada_bhauju/dada25.PNG" alt="">
  </div>
  {{>footer}}
</body>

</html>